<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBO4h4Zkv4-CkqEB1d_iq5QaReCCjy6eSc</string>
	<key>GCM_SENDER_ID</key>
	<string>556600212060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTutorial.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-firbase-a02b5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firbase-a02b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556600212060:ios:3b8836bc03960015228499</string>
</dict>
</plist>